.top{
    position: absolute;
    min-width: 100%;
    height: 102px;
    left: 0px;
    top: 0px;
    background: #bbb0b0;
}
.main{
    position: absolute;
    min-width: 100%;
    height: 818px;
    left: 0px;
    top: 102px;
    background: #91A6BE;
}
.end{
    position: absolute;
    min-width: 100%;
    height: 102px;
    left: 0px;
    top: 920px;
    background: #696969;
}
.logo{
    position: absolute;
    width: 252px;
    left: 62px;
    top: -98px;
}
.search{
    position: absolute;
    width: 1060px;
    height: 61px;
    left: 380px;
    top: 21px;
    background: #C4C4C4;
    border-radius: 10px;
}
.telephone{
    position: absolute;
    width: 68px;
    height: 61px;
    left: 1465px;
    top: 21px;
    transition:all 0.3s ease;
}
.telephone:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.account{
    position: absolute;
    width: 65px;
    height: 68px;
    left: 1572px;
    top: 11px;
    transition: all 0.3s ease;
}
.account:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.basket{
    position: absolute;
    width: 68px;
    height: 66px;
    left: 1687px;
    top: 13px;
    transition: all 0.3s ease;
}
.basket:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.frame1{
    position: absolute;
    width: 1303px;
    height: 541px;
    left: 556px;
    top: 143px;
    
    background: #C4C4C4;
}
.first_buttom{
    position: absolute;
    width: 326px;
    height: 109px;
    left: 556px;
    top: 35px;
    background: rgb(79, 196, 176);
    transition:all 0.3s ease;
    
}
.second_buttom{
    position: absolute;
    width: 326px;
    height: 109px;
    left: 882px;
    top: 35px;
    background: rgb(43, 107, 104);
    transition:all 0.3s ease;
}
.trird_buttom{
    position: absolute;
    width: 326px;
    height: 109px;
    left: 1208px;
    top: 35px;
    background: rgb(12, 60, 71);
    transition:all 0.3s ease;
}
.fourth_buttom{
    position: absolute;
    width: 326px;
    height: 109px;
    left: 1534px;
    top: 35px;
    background: rgb(32, 126, 105);
    transition:all 0.3s ease;
}

.fivth_buttom{
    position: absolute;
    width: 326px;
    height: 109px;
    left: 556px;
    top: 684px;
    background: rgb(79, 196, 176);
    transition:all 0.3s ease;
}
.sixth_buttom{
    position: absolute;
    width: 326px;
    height: 109px;
    left: 882px;
    top: 684px;
    background: rgb(43, 107, 104);
    transition:all 0.3s ease;
}
.seventh_buttom{
    position: absolute;
    width: 326px;
    height: 109px;
    left: 1208px;
    top: 684px;
    background: rgb(12, 60, 71);
    transition:all 0.3s ease;
}
.eighth_buttom{
    position: absolute;
    width: 326px;
    height: 109px;
    left: 1534px;
    top: 684px;
    background: rgb(32, 126, 105);
    transition:all 0.3s ease;
}
.first_buttom:hover
{
    background:#53ea93;
}
.second_buttom:hover
{
    background:#53ea93;
}
.trird_buttom:hover
{
    background:#53ea93;
}
.fourth_buttom:hover
{
    background:#53ea93;
}
.fivth_buttom:hover
{
    background:#53ea93;
}
.sixth_buttom:hover
{
    background:#53ea93;
}
.seventh_buttom:hover
{
    background:#53ea93;
}
.eighth_buttom:hover
{
    background:#53ea93;
}
.photo_info{
    position: absolute;
    width: 558px;
    height: 437px;
    left: 617px;
    top: 179px;
    background: #B14E4E;
}
.frame_produkty{
    position: absolute;
    width: 366px;
    height: 649px;
    left: 61px;
    top: 143px;
    background: #A79595;
    border-radius: 0 10px;
}
.frame_menu{
    position: absolute;
    width: 366px;
    height: 108px;
    left: 61px;
    top: 35px;
    background: #C4C4C4;
}
.instagram{
    position: absolute;
    width: 77px;
    height: 77px;
    left: 1611px;
    top: 12px;
    transition: all 0.3s ease;
}
.instagram:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.facebook{
    position: absolute;
    width: 73px;
    height: 79px;
    left: 1720px;
    top: 11px;
    transition: all 0.3s ease;
}
.facebook:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.twitter{
    position: absolute;
    width: 74px;
    height: 77px;
    left: 1827px;
    top: 11px;
    transition: all 0.3s ease;
}
.twitter:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.end_info{
    position: absolute;
    width: 1515px;
    height: 79px;
    left: 62px;
    top: 11px;
    background: #C4C4C4;
}